<template>
  <div>

    <title-page :propsTitle="'Connexion'"></title-page>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Vos identifiants</label>
      </div>
      <div class="field-body">

        <div class="field">
          <p class="control is-expanded has-icons-left has-icons-right">
            <input v-model="user.Email" class="input" type="email" placeholder="Email" :class="{ 'is-danger': invalideEmail }">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right is-hidden">
              <i class="fas fa-check"></i>
            </span>
          </p>
          <p class="help is-danger" v-if="invalideEmail" v-for="e in erreurEmail">{{ e }}</p>
        </div>

        <div class="field">
          <p class="control is-expanded has-icons-left has-icons-right">
            <input v-model="user.MotDePasse" class="input" type="password" placeholder="Password" :class="{ 'is-danger': invalideMotDePasse }">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            <span class="icon is-small is-right is-hidden">
              <i class="fas fa-check"></i>
            </span>
          </p>
          <p class="help is-danger" v-if="invalideMotDePasse" v-for="e in erreurMotDePasse">{{ e }}</p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <!--<label class="label">Je veux être notifier par courriel lors de l'activation de mon compte</label>-->
      </div>
      <div class="field-body">
        <div class="field is-grouped is-narrow">
          <div class="control">
            <button class="button is-link" @click="connexion">Connexion</button>
          </div>
          <div class="control">
            <!--<button class="button is-text">Canceler</button>-->
            <router-link to="/" class="button is-text">Annuler</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import TitlePage from '@/components/static_rendering/TitrePage';
  import axios from 'axios';
  import bus from '../../../services/bus';

  export default {
    components: {
      TitlePage,
    },
    data() {
      return {
        user: {},
        role: { Nom: 'Lecteur' },
        erreurNom: [],
        erreurPrenom: [],
        erreurEmail: [],
        erreurMotDePasse: [],
        invalideNom: false,
        invalidePrenom: false,
        invalideEmail: false,
        invalideMotDePasse: false,
      };
    },
    methods: {
      connexion() {
        axios({
          method: 'POST',
          url: '/api/Token',
          contentType: 'application/x-www-form-urlencoded; charset=utf-8',
          // dataType: 'json',
          data: `grant_type=password&username=${this.user.Email}&password=${this.user.MotDePasse}`,
        }).then((response) => {
          // const now = new Date();
          // const nowPlus20min = new Date(now.getTime());
          // nowPlus20min.setMinutes(now.getMinutes() + 20);
          // const utcTimestamp = Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(),
          //   now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds(), now.getUTCMilliseconds());
          // const utcTimestampPlus20min = Date.UTC(nowPlus20min.getUTCFullYear(),
          //   nowPlus20min.getUTCMonth(), nowPlus20min.getUTCDate(),
          //   nowPlus20min.getUTCHours(), nowPlus20min.getUTCMinutes(),
          //   nowPlus20min.getUTCSeconds(), nowPlus20min.getUTCMilliseconds());
          const now = new Date();
          const nowPlus1Hour = new Date(now.getTime() + (1 * 1000 * 60 * 60));
          localStorage.setItem('token', JSON.stringify({
            access_token: response.data.access_token,
            created_on: now.getTime(),
            expire_in: nowPlus1Hour.getTime(),
          }));
          this.invalideEmail = false;
          this.invalideMotDePasse = false;
          this.role.IdUser = response.data.Id;
          axios.get(`/api/GetUserByEmail/${this.user.Email}/`)
            .then((responseUser) => {
              this.$store.state.user = responseUser.data;
              localStorage.setItem('user', JSON.stringify(responseUser.data));
              this.$router.replace('/');
              bus.$emit('logged', responseUser.data.Email);
            }).catch(() => {
              // console.log(`error user ${error}`);
            });
        }).catch(() => {
          this.validation();
          // console.log(`error ${error}`);
          // console.log(`error response ${error.response}`);
          // console.log(`error response data ${error.response.data}`);
          // this.validation(error.response.data.ModelState);
        });
      },
      validation() {
        this.invalideEmail = true;
        this.invalideMotDePasse = true;
        this.erreurEmail[0] = 'Le email ou le mot de passe sont incorrects';
        this.erreurEmail[1] = "Peut-être votre compte n'est pas activé";
      },
    },
    created() {
    },
  };
</script>

<style>

</style>
