<template>
  <div>

    <title-page :propsTitle="'Inscription'"></title-page>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Vos informations</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input v-model="user.Nom" class="input" type="text" placeholder="Nom" :class="{ 'is-danger': invalideNom }">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
          <p class="help is-danger" v-if="invalideNom" v-for="e in erreurNom">{{ e }}</p>
        </div>


        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input v-model="user.Prenom" class="input" type="text" placeholder="Prénom" :class="{ 'is-danger': invalidePrenom }">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
          <p class="help is-danger" v-if="invalidePrenom" v-for="e in erreurPrenom">{{ e }}</p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Vos identifiants</label>
      </div>
      <div class="field-body">

        <div class="field">
          <p class="control is-expanded has-icons-left has-icons-right">
            <input v-model="user.Email" class="input" type="email" placeholder="Email" :class="{ 'is-danger': invalideEmail }">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right is-hidden">
              <i class="fas fa-check"></i>
            </span>
          </p>
          <p class="help is-danger" v-if="invalideEmail" v-for="e in erreurEmail">{{ e }}</p>
        </div>

        <div class="field">
          <p class="control is-expanded has-icons-left has-icons-right">
            <input v-model="user.MotDePasse" class="input" type="password" placeholder="Password" :class="{ 'is-danger': invalideMotDePasse }">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            <span class="icon is-small is-right is-hidden">
              <i class="fas fa-check"></i>
            </span>
          </p>
          <p class="help is-danger" v-if="invalideMotDePasse" v-for="e in erreurMotDePasse">{{ e }}</p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Rôles (permissions)</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <div class="select is-fullwidth">
              <select v-model="role.Nom">
                <option selected value="Lecteur">Droit de lecture seulement</option>
                <option value="Editeur">Droit d'édition</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <!--<label class="label">Je veux être notifier par courriel lors de l'activation de mon compte</label>-->
      </div>
      <div class="field-body">
        <div class="field is-grouped is-narrow">
          <div class="control">
            <button class="button is-link" @click="inscription">Soumettre</button>
          </div>
          <div class="control">
            <!--<button class="button is-text">Canceler</button>-->
            <router-link to="/" class="button is-text">Annuler</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import TitlePage from '@/components/static_rendering/TitrePage';
  import axios from 'axios';

  export default {
    components: {
      TitlePage,
    },
    data() {
      return {
        user: {},
        role: { Nom: 'Lecteur' },
        erreurNom: [],
        erreurPrenom: [],
        erreurEmail: [],
        erreurMotDePasse: [],
        invalideNom: false,
        invalidePrenom: false,
        invalideEmail: false,
        invalideMotDePasse: false,
      };
    },
    methods: {
      inscription() {
        axios({
          method: 'POST',
          url: '/api/Users',
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: this.user,
        }).then((response) => {
          this.invalideNom = false;
          this.invalidePrenom = false;
          this.invalideEmail = false;
          this.invalideMotDePasse = false;
          this.role.IdUser = response.data.Id;
          if (this.role.Nom === 'Editeur') {
            axios({
              method: 'POST',
              url: '/api/Roles',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: this.role,
            }).then(() => {
              axios({
                method: 'POST',
                url: '/api/Roles',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: {
                  IdUser: this.role.IdUser,
                  Nom: 'Lecteur',
                },
              });
            });
          } else {
            axios({
              method: 'POST',
              url: '/api/Roles',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: this.role,
            });
          }
          this.$router.replace('/LogIn');
        }).catch((error) => {
          this.validation(error.response.data.ModelState);
        });
      },
      validation(model) {
        if (model['user.Nom']) {
          this.invalideNom = true;
          this.erreurNom = model['user.Nom'];
        } else {
          this.invalideNom = false;
          this.erreurNom = [];
        }
        if (model['user.Prenom']) {
          this.invalidePrenom = true;
          this.erreurPrenom = model['user.Prenom'];
        } else {
          this.invalidePrenom = false;
          this.erreurPrenom = [];
        }
        if (model['user.Email']) {
          this.invalideEmail = true;
          this.erreurEmail = model['user.Email'];
        } else {
          this.invalideEmail = false;
          this.erreurEmail = [];
        }
        if (model['user.MotDePasse']) {
          this.invalideMotDePasse = true;
          this.erreurMotDePasse = model['user.MotDePasse'];
        } else {
          this.invalideMotDePasse = false;
          this.erreurMotDePasse = [];
        }
      },
    },
    created() {
    },
  };
</script>

<style>

</style>
