<template>
  <div>
    <!-- selectionner un profil -->
    <div class="level">
      <titre :propsTitle="'Activités d\'apprentissage'"></titre>
      <div class="level-item level-right">
        <div class="field has-addons">
          <div class="control">
            <div class="select">
              <select v-model="indexOption" id="listeProfils" @change="selected">
                <option selected value="">Selectionner un Profil</option>
                <option v-for="(option, index) in profilsOptions" :value="index" :key="option.Id">{{ option.Nom }}</option>
              </select>
            </div>
          </div>
          <div class="control">
            <a :disabled="!show" @click="isActiveCreer = true" class="button is-success"
               :data-balloon="'Cliques ici pour ajouter une nouvelle activité'"
               data-balloon-pos="down" data-balloon-length="medium">
              <span class="icon is-small">
                <i class=" fa fa-plus"></i>
              </span>
            </a>
          </div>
          <div class="control">
            <a :disabled="!show" @click="isActiveAjouterActiviteExistante = true" class="button"
               :data-balloon="'Cliques ici pour ajouter une activité existante'"
               data-balloon-pos="down" data-balloon-length="medium">
              <!--<span class="icon is-small">-->
                <!--<i class=" fa fa-plus"></i>-->
              <!--</span>-->
              Activité existante
            </a>
          </div>
          <div class="control">
            <router-link :to="'/FormulaireCible/' +  profil.Id"><button :disabled="!show" class="button">Logigramme</button></router-link>
          </div>
        </div>
      </div>
    </div>

      <!-- Deletion popup confirmation box -->
    <div class="modal" id="ConfirSupp" :class="{ 'is-active': isActiveSupp }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Suppression de l'activité</p>
          <button class="delete removeModal" aria-label="close" @click="hideSuppActiviteModal"></button>
        </header>
        <section class="modal-card-body">
          Etes-vous sur de vouloir supprimer cette activité ?
        </section>
        <footer class="modal-card-foot">
          <button id="confirmSup" class="button is-success" @click="supprimerActivite(IdActiviteToSupp)">Confirmer</button>
          <button class="button removeModal" @click="hideSuppActiviteModal">Annuler</button>
        </footer>
      </div>
    </div>

   <!-- Activite creation modal -->
    <div class="modal" :class="{ 'is-active': isActiveCreer }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Creation d'une nouvelle Activité</p>
          <button class="delete removeModal" aria-label="close" @click="hideCreerActiviteModal"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Nom De l'activité</label>
            <div class="control">
              <input class="input" type="text" id="nouveauNomActivite" v-model="nomActiviteCreer"/>
            </div>
          </div>

          <div class="field">
            <label class="label">Description Activité (optionnel)</label>
            <div class="control">
              <textarea class="textarea" id="nouvelleDescriptionActivite"  v-model="descriptionActiviteCreer"></textarea>
              <!--<input class="input" type="text" id="nouvelleDescriptionActivite"  v-model="descriptionActiviteCreer"/>-->
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Session</label>
                <div class="control">
                  <div class="select">
                    <select v-model="indexSession">
                      <option :value="0">Select</option>
                      <option :value="1">1</option>
                      <option :value="2">2</option>
                      <option :value="3">3</option>
                      <option :value="4">4</option>
                      <option :value="5">5</option>
                      <option :value="6">6</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <input class="button is-success" type="submit" id="creerActivite" value="Save" @click="btncreerActivite" />
          <button class="button removeModal" @click="hideCreerActiviteModal">Annuler</button>
        </footer>
      </div>
    </div>

     <!-- Activite modification modal -->
    <div class="modal" :class="{ 'is-active': isActiveModifier }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">modification Activité</p>
          <button class="delete removeModal" aria-label="close" @click="hideModifierActiviteModal"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Nom De l'activité</label>
            <div class="control">
              <!--<textarea class="textarea" id="nouveauNomActivite" v-model="nomActiviteModifier"></textarea>-->
              <input class="input" type="text" id="nouveauNomActivite" v-model="nomActiviteModifier"/>
            </div>
          </div>

          <div class="field">
            <label class="label">Description Activité (optionnel)</label>
            <div class="control">
              <textarea class="textarea" id="nouvelleDescriptionActivite"  v-model="descriptionActiviteModifier"></textarea>
              <!--<input class="input" type="text" id="nouvelleDescriptionActivite"  v-model="descriptionActiviteModifier"/>-->
            </div>
          </div>
          <div class="field" v-if="isActiveModifier">
              <listeCompetence :session="sessionCourante" :profil="profil.Id" :activite="IdActiviteToSupdate"></listeCompetence>
          </div>
        </section>
        <footer class="modal-card-foot">
          <input class="button is-success" type="submit" id="creerActivite" value="Sauvegarder" @click="btnModifierActivite" />
          <button class="button removeModal" @click="hideModifierActiviteModal">Annuler</button>
        </footer>
      </div>
    </div>

     <!-- Ajouter Activite existante modal -->
    <div class="modal" :class="{ 'is-active': isActiveAjouterActiviteExistante }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Ajouter une Activité existante</p>
          <button class="delete removeModal" aria-label="close" @click="hideAjouterActiviteExistanteModal"></button>
        </header>
        <section class="modal-card-body">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Session</label>
                <div class="control">
                  <div class="select">
                    <select v-model="indexSession" @change="getListeActiviteExistante(indexSession)">
                      <option :value="0">Select</option>
                      <option :value="1">1</option>
                      <option :value="2">2</option>
                      <option :value="3">3</option>
                      <option :value="4">4</option>
                      <option :value="5">5</option>
                      <option :value="6">6</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="indexSession !== 0 || listeActivitesExistantes.length !== 0" class="">
                     <!--<div v-for="act in listeActivitesExistantes" class="">-->
                      <!--<p class="control is-expanded">{{act.Enonce}}</p>-->
                      <!--<a  class=" button" @click="addActiviteExistante(act.Id, act.Session)"><i class="fa fa-plus-circle"></i></a>-->
                    <!--</div>-->
            <div v-for="act in listeActivitesExistantes" class="card is-radiusless has-addons item is-marginless is-borderless">
              <div class="card-content">
                <div  class="content">
                  <div class="tile is-ancestor">
                    <div class="tile is-parent has-text-left is-paddingless">
                      <div class="tile is-child">
                        {{act.Enonce}}
                      </div>
                    </div>
                    <div class="tile is-parent is-vertical is-paddingless">
                      <div class="tile is-child has-text-right">
                        <a class="icon is-medium button" @click="addActiviteExistante(act.Id, act.Session)">
                          <i class="fa fa-plus-circle is-info"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>



    <activite :sessionAjouter="sessionAjouterExistente"
              :show="show"
              @listeActiviteExistante="checkAjoutActiviteExistante"
              @ModifierActivite="checkModif"
              @DeleteActivite="checkDelete"
              :actualiser="actu"
              @actu="updateValActu"
              :idProfil="profil.Id"
              @creerActivite="checkAdd">
    </activite>
    <pop-up-saved :propsPopupHide="popupHide"
                  :propsMessageClass="popupMessageClass"
                  :propsMessageSuccessError="popupMessageContent"></pop-up-saved>
  </div>
</template>

<script>
  // import axios from 'axios';
  import axios from 'axios';
  import activite from '@/components/form/activite/StructureTableauActivite';
  import titre from '@/components/static_rendering/TitrePage';
  import listeCompetence from '@/components/form/activite/listeCompetencesActivite';
  import PopUpSaved from '@/components/reactivity/PopUpSavedCornerRightDown';
  // import draggable from 'vuedraggable';
  // import focus from 'vue-focus';

export default {
    components: {
      activite,
      titre,
      listeCompetence,
      PopUpSaved,
    },
    data() {
      return {
        ActiviteCourante: {},
        listeActivitesExistantes: [],
        isActiveAjouterActiviteExistante: false,
        profil: {},
        indexOption: '',
        profilsOptions: [],
        isActiveCreer: false,
        isActiveModifier: false,
        isActiveSupp: false,
        nomActiviteCreer: '',
        descriptionActiviteCreer: '',
        sessionCourante: '',
        test: '',
        listeActiviteProfil: [],
        actu: false,
        IdActiviteToSupp: '',
        IdActiviteToSupdate: '',
        nomActiviteModifier: '',
        descriptionActiviteModifier: '',
        show: false,
        sessionAjouterExistente: '',
        indexSession: 0,
        popupHide: true,
        popupMessageContent: {},
        popupMessageClass: '',
      };
    },
    methods: {
      selected() {
        if (this.indexOption !== '') {
          this.profil = this.profilsOptions[this.indexOption];
          this.show = true;
          // this.affListeCompetences(this.profil.Id);
        } else {
          this.show = false;
        }
      },
      getListeProfils() {
        this.profilsOptions = [];
        axios.get('/api/Profils',
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            for (let i = 0; i < response.data.length; i += 1) {
              this.profilsOptions.push(response.data[i]);
            }
          });
      },
      getListeActiviteExistante(session) {
        if (session !== 0) {
          axios.get(`/api/GetActivitesBySession/${session}/${this.profil.Id}`,
            {
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
            }).then((response) => {
              this.listeActivitesExistantes = [];
              for (let i = 0; i < response.data.length; i += 1) {
                this.listeActivitesExistantes.push(response.data[i]);
              }
            // this.$emit('listeActiviteExistante', this.listeActiviteExistante);
            });
        }
      },
      updateDBPopup(stringClass, objectMessage) {
        this.popupHide = false;
        this.popupMessageClass = stringClass;
        this.popupMessageContent = objectMessage;
        setTimeout(this.closePopup, 2000);
      },
      closePopup() {
        this.popupHide = true;
      },
      hideCreerActiviteModal() {
        this.isActiveCreer = false;
      },
      hideSuppActiviteModal() {
        this.isActiveSupp = false;
      },
      hideModifierActiviteModal() {
        this.isActiveModifier = false;
        this.nomActiviteModifier = '';
        this.descriptionActiviteModifier = '';
        this.IdActiviteToSupdate = '';
        this.ActiviteCourante = {};
      },
      hideAjouterActiviteExistanteModal() {
        this.isActiveAjouterActiviteExistante = false;
      },
      btncreerActivite() {
        axios({
          method: 'POST',
          url: 'api/Activites',
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: {
            Enonce: this.nomActiviteCreer,
            Description: this.descriptionActiviteCreer,
            Session: this.indexSession,
          },
        }).then((response) => {
          axios({
            method: 'POST',
            url: '/api/ActivitesProfils/',
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: {
              IdProfil: this.profil.Id,
              IdActivite: response.data.Id,
              Session: this.indexSession,
              positionVertical: 0,
            },
          }).then(() => {
            this.actu = true;
            this.hideCreerActiviteModal();
            this.updateDBPopup('is-success', null);
          });
        });
      },
      supprimerActivite(id) {
        axios({
          method: 'DELETE',
          url: `api/ActivitesProfils/${id}`,
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
        }).then(() => {
          this.actu = true;
          this.hideSuppActiviteModal();
          this.updateDBPopup('is-success', null);
        });
      },
      checkAdd(val, session) {
        this.isActiveCreer = val;
        this.sessionCourante = session;
      },
      checkDelete(val, id, session) {
        this.isActiveSupp = val;
        this.IdActiviteToSupp = id;
        this.sessionCourante = session;
      },
      checkModif(val, act) {
        this.nomActiviteModifier = act.Enonce;
        this.descriptionActiviteModifier = act.Description;
        this.isActiveModifier = val;
        this.IdActiviteToSupdate = act.Id;
        this.sessionCourante = act.Session;
        this.ActiviteCourante = act;
      },
      checkAjoutActiviteExistante(liste) {
        this.listeActivitesExistantes = liste;
        this.isActiveAjouterActiviteExistante = true;
      },
      actualiserListe() {
        this.actu = true;
        return this.actu;
      },
      updateValActu(value) {
        this.actu = value;
      },
      addActiviteExistante(idActivite, Session) {
        axios({
          method: 'POST',
          url: '/api/ActivitesProfils/',
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: {
            IdProfil: this.profil.Id,
            IdActivite: idActivite,
          },
        }).then(() => {
          this.actu = true;
          this.sessionAjouterExistente = Session;
          this.hideAjouterActiviteExistanteModal();
          this.updateDBPopup('is-success', null);
        });
      },
      btnModifierActivite() {
        this.ActiviteCourante.Description = this.descriptionActiviteModifier;
        this.ActiviteCourante.Enonce = this.nomActiviteModifier;
        axios({
          method: 'PUT',
          url: `/api/Activites/${this.ActiviteCourante.Id}`,
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: this.ActiviteCourante,
        }).then(() => {
          this.actu = true;
          this.hideModifierActiviteModal();
        });
      },
    },
    created() {
      this.getListeProfils();
      if (this.$route.params.idProfil !== undefined) {
        const idProfil = this.$route.params.idProfil;
        this.show = true;
        this.afficher = true;
        axios.get(`/api/Profils/${idProfil}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            this.profil = response.data;
          });
      }
    },
};
</script>

<style>

</style>
