<template>
  <div class="field has-text-centered">
      <div class="columns">
        <div class="column is-half">
          <h1 class="box title is-4 ">Compétences de l'activité</h1>
          <div class="dropper box" id="listeCompetence_session">

            <draggable style="min-height: 44px" @end="deleteCompetenceActivite" :move="checkMove"
                       v-model="listeCompetencesActivite"
                       class="dragArea in" :options="{draggable:'.item', group:'comp', ghostClass: 'ghost', animation: 1}">
              <div class="competenceBox box is-marginless item" v-for="comp in listeCompetencesActivite"
                   :class="[comp.Couleur, {obligatoire: comp.Obligatoire}]">
               {{ comp.Code}}
              </div>
            </draggable>
          </div>
        </div>
        <div class="column is-half">
          <h1 class="box title is-4 ">Compétences disponibles
            <button id="infoBtn" class="is-pulled-right button is-small">
              <i class="fa fa-question" aria-hidden="true"></i>
            </button>
          </h1>
          <div class="dropper box" id="listeCompetence">
            <draggable style="min-height: 44px" @end="postCompetenceActivite" :move="checkMove"
                       v-model="listeCompetences"
                       class="dragArea out" :options="{draggable:'.item', group:'comp', ghostClass: 'ghost', animation: 1}">
              <div class="box is-marginless competenceBox item" v-for="comp in listeCompetences"
                   :class="[comp.Couleur, {obligatoire: comp.Obligatoire}]">
                {{ comp.Code}}
              </div>
            </draggable>
          </div>
        </div>
      </div>
    <article class="message is-danger" v-if="listeCompetencesIncorect.length != 0">
      <div class="message-header">
        <p>Compétences qui ne reflètent pas le logigramme</p>
      </div>
      <div class="message-body">
        <p v-for="comp in listeCompetencesIncorect" v-model="listeCompetencesIncorect">{{ comp.Code }}</p>
      </div>
    </article>
  </div>
</template>

<script>
import axios from 'axios';
import draggable from 'vuedraggable';

export default {
  props: ['session', 'profil', 'activite'],
  components: {
    draggable,
  },
  data() {
    return {
      listCode: [],
      listeCompetencesActivite: [],
      listeCompetences: [],
      listeCompetencesIncorect: [],
      idPost: null,
      idDelete: null,
    };
  },
  methods: {
    getCompetencesActivite(idprofil, session, id) {
      this.listeCompetencesActivite = [];
      this.listeCompetences = [];
      this.listeCompetencesIncorect = [];
      axios.get(`/api/GetActiviteCompetence/${id}/${session}/${idprofil}`,
        {
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
        }).then((response) => {
          for (let i = 0; i < response.data.listeCompetence.length; i += 1) {
            this.listeCompetencesActivite.push(response.data.listeCompetence[i]);
          }
          this.listeCompetencesIncorect = response.data.listeIncorect;
        }).then(() => {
          if (idprofil !== null && session !== null) {
            axios.get(`/api/GetProfilsCompetenceBySession/${idprofil}/${session}`,
              {
                headers: {
                  Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
                },
              }).then((response) => {
                for (let i = 0; i < response.data.length; i += 1) {
                  this.listeCompetences.push(response.data[i]);
                }
              }).then(() => {
                this.checkcompetencePresenteActivite();
              });
          }
        });
    },
    checkMove(evt) {
      if (evt.relatedContext.list.indexOf(evt.draggedContext.element) === -1) {
        if (this.listeCompetencesActivite.indexOf(evt.draggedContext.element) === -1) {
          // ici c'est une liste de competences
          this.idPost = evt.draggedContext.element.Id;
          this.contextPost = evt.draggedContext;
        } else {
          this.idDelete = evt.draggedContext.element.IdCompetence;
        }
      } else {
        this.idPost = null;
        this.idDelete = null;
      }
    },
    checkcompetencePresenteActivite() {
      if (this.listeCompetences !== [] || this.listeCompetencesActivite !== []) {
        if (this.listeCompetences !== null || this.listeCompetencesActivite !== null) {
          for (let i = 0; i < this.listeCompetences.length; i += 1) {
            for (let y = 0; y < this.listeCompetencesActivite.length; y += 1) {
              if (this.listeCompetences[i].Code
              === this.listeCompetencesActivite[y].Code) {
                this.listeCompetences.splice(i, 1);
              }
            }
          }
        }
      }
    },
    postCompetenceActivite() {
      if (this.idPost !== null) {
        axios({
          method: 'POST',
          url: 'api/ActiviteCompetences',
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: {
            IdActivite: this.activite,
            IdCompetence: this.idPost,
          },
        }).then(() => {
          this.idPost = null;
          this.$parent.updateDBPopup('is-success', null);
        });
      }
    },
    deleteCompetenceActivite() {
      if (this.idDelete) {
        axios({
          method: 'DELETE',
          url: `/api/DeleteActiviteCompetence/${this.activite}/${this.idDelete}`,
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
        }).then(() => {
          this.idDelete = null;
          this.$parent.updateDBPopup('is-success', null);
        });
      }
    },
  },
  created() {
    this.getCompetencesActivite(this.profil, this.session, this.activite);
  },
  // profil(value) {
  //   this.getCompetencesActivite(value, this.session);
  // },
};
</script>


<style scoped lang="scss">
  .competenceBox {
    padding: 10px;
    border-radius: 0;
    width:100%;
  }

  .competenceBox:hover {
    cursor: pointer;
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
  }

  /*.ghost {*/
    /*opacity: .5;*/
    /*background: #C8EBFB;*/
  /*}*/

  /*.flip-list-move {*/
    /*transition: transform 0.5s;*/
  /*}*/

  /*.no-move {*/
    /*transition: transform 0s;*/
  /*}*/
</style>
