<template>
  <tr>
    <td>
      <strong>{{ elementNo }}.</strong> {{elementElement}}
    </td>

      <savoir-competence v-if="!apercus" :savoirs="savoirs" :idElem="elemId" :idComp="null" :Type="1" :propsPlaceHolderByType="'Savoir'"></savoir-competence>

      <savoir-competence v-if="!apercus" :savoirs="savoirsFaire" :idElem="elemId" :idComp="null" :Type="2" :propsPlaceHolderByType="'Savoir-faire'"></savoir-competence>

    <td>
      <ul>
        <li v-for="critere in criteres"><strong>{{ critere.No }}.</strong> {{ critere.Critere }}</li>
      </ul>
    </td>
  </tr>
</template>

<script>
  import axios from 'axios';
  import SavoirCompetence from '@/components/form/competence/SavoirCompetence';

  export default {
    components: {
      'savoir-competence': SavoirCompetence,
    },
    props: ['elementElement', 'elementId', 'elementNo', 'apercus'],
    data() {
      return {
        elemId: '',
        criteres: [],
        savoirs: [],
        savoirsFaire: [],
      };
    },
    methods: {
      getCritere(idElem) {
        axios.get(`/api/GetCriterePerformancesByIdElement/${idElem}`,
          { headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          }).then((response) => {
            for (let i = 0; i < response.data.length; i += 1) {
              this.criteres.push(response.data[i]);
            }
          });
      },
      getSavoir(idElem) {
        axios.get(`/api/GetSavoirsByIdElement/${idElem}`,
          { headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          }).then((response) => {
            for (let i = 0; i < response.data.length; i += 1) {
            // ajout attribut focus pour afficher le delete seulement sur hover
            // dans la vue SavoirCompetence.vue
              response.data[i].focus = false;
              if (response.data[i].Type === 1) {
                this.savoirs.push(response.data[i]);
              } else if (response.data[i].Type === 2) {
                this.savoirsFaire.push(response.data[i]);
              }
            }
          }).then(() => {
            this.sortListes();
          });
      },
      sortListes() {
        this.savoirs = this.savoirs.sort((a, b) => a.No - b.No);
        this.savoirsFaire = this.savoirsFaire.sort((a, b) => a.No - b.No);
      },
    },
    created() {
      this.getCritere(this.elementId);
      this.getSavoir(this.elementId);
      this.elemId = this.elementId;
    },
  };
</script>
