<template>
  <div>
    <form-select @data-comp="passToChildren" v-if="!afficher"></form-select>
    <div v-if="afficher">
      <div class="tabs">
        <ul>
          <li :class="{'is-active': apercus}"><a @click="apercus = true">Devis</a></li>
          <li :class="{'is-active': !apercus}"><a @click="apercus = false">Analyse</a></li>
          <li :class="{'is-active navbar-end': apercus}"><a @click="afficher = false">Retour à la liste</a></li>
        </ul>
      </div>
      <div v-if="!apercus">
        <form-titre :competence="competence"
                    :idComp="competence.Id"
                    :enonceComp="competence.Enonce"
                    :processusComp="competence.Processus"
                    :codeComp="competence.Code">
        </form-titre>
        <form-contexte :idComp="competence.Id">
        </form-contexte>
        <div class="table-margin">
          <form-savoir :idComp="competence.Id"></form-savoir>
          <form-tableau :idComp="competence.Id"></form-tableau>
        </div>
        <div>
          <form-textarea v-for="(value, key) in titres"
                         :key="key" :titreTextarea="value"
                         :RouteAPI="key"
                         :Comp="competence">
          </form-textarea>
          <div class="section level">
            <!--section copier section dans class du div audessus-->
            <form-duree class="level-item" :idComp="competence.Id" :dureeComp="competence.DureeEstimee"></form-duree>
            <form-session class="level-item" :idComp="competence.Id" :sessionComp="competence.PlusDUneSession"></form-session>
            <form-print class="level-item"></form-print>
          </div>
        </div>
      </div>
      <div v-else>
        <form-apercus :competence="competence"></form-apercus>
      </div>
      <form-update :propsPopupHide="popupHide"
                   :propsMessageClass="popupMessageClass"
                   :propsMessageSuccessError="popupMessageContent"></form-update>
    </div>
  </div>
</template>

<script>
    import SelectCompetence from '@/components/form/competence/SelectCompetence';
    import ContexteCompetence from '@/components/form/competence/ContexteCompetence';
    import TitreCompetence from '@/components/form/competence/TitreCompetence';
    import StructureTableauCompetence from '@/components/form/competence/StructureTableauCompetence';
    import TextAreaCompetence from '@/components/form/competence/TextAreaCompetence';
    import PrintCompetence from '@/components/form/competence/PrintCompetence';
    import DureeCompetence from '@/components/form/competence/DureeCompetence';
    import SessionCompetence from '@/components/form/competence/PlusDuneSessionCompetence';
    import PopUpSavedCornerRightDown from '@/components/reactivity/PopUpSavedCornerRightDown';
    import SavoirTableauCompetence from '@/components/form/competence/SavoirTableauCompetence';
    import ApercusCompetence from '@/components/form/competence/ApercusCompetence';
    import axios from 'axios';

    export default {
      data() {
        return {
          competence: {},
          titres: {
            Clarification: 'Si nécessaire, clarification',
            PlaceCompetence: 'Place de la competence dans le programme',
            EpreuveFinale: 'Épreuve finale',
          },
          popupHide: true,
          afficher: false,
          popupMessageClass: '',
          popupMessageContent: {},
          apercus: true,
        };
      },
      components: {
        'form-select': SelectCompetence,
        'form-contexte': ContexteCompetence,
        'form-titre': TitreCompetence,
        'form-tableau': StructureTableauCompetence,
        'form-textarea': TextAreaCompetence,
        'form-print': PrintCompetence,
        'form-duree': DureeCompetence,
        'form-session': SessionCompetence,
        'form-update': PopUpSavedCornerRightDown,
        'form-savoir': SavoirTableauCompetence,
        'form-apercus': ApercusCompetence,
      },
      methods: {
        passToChildren(competence) {
          if (competence !== '') {
            this.competence = competence;
            this.afficher = true;
          } else {
            this.afficher = false;
          }
        },
        updateDBPopup(stringClass, objectMessage) {
          this.popupHide = false;
          this.popupMessageClass = stringClass;
          this.popupMessageContent = objectMessage;
          setTimeout(this.closePopup, 2000);
        },
        closePopup() {
          this.popupHide = true;
        },
      },
      created() {
        if (this.$route.params.idComp !== undefined) {
          const idComp = this.$route.params.idComp;
          axios.get(`/api/Competences/${idComp}`,
            { headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
            }).then((response) => {
              this.competence = response.data;
            }).then(() => {
              this.afficher = true;
            });
        }
      },
    };
</script>

<style>
  .printable {
    display: none;
  }

  [afficher="false"] {
    display: none;
  }

  .containerBorder {
    width: 100%;
    border: 3px solid whitesmoke;
    padding: 5px;
  }

  .boxRemoveShadow {
    box-shadow: none;
  }

  .rowSpacing {
    border-collapse: separate;
    border-spacing: 10px 0;
  }

  .spacing {
    margin-top: 30px;
  }

  .table-margin{
    margin-top: 50px;
  }
</style>
