<template>
  <div>
    <a class="button is-large" @click="imprimer"><i class="fa fa-print"></i></a>
  </div>
</template>

<script>
  export default {
    methods: {
      imprimer() {
        window.print();
      },
    },
  };
</script>

<style>
  /*.end-of-form {*/
    /*margin-bottom: 20px;*/
  /*}*/

  @media print {
    @page {
      size: landscape
    }

    .printable {
      display: inline;
    }

    .input, a.button, .navbar, .select, .textarea, .icon{
      display: none;
    }
  }
</style>
