<template>
  <td>
    <!--@mouseover="focusAdd = true" @mouseleave="focusAdd = false"-->
    <draggable @end="endMove" :move="checkMove" v-model="listeSavoirs" class="dragArea" :options="{draggable:'.item', handle:'.area', group:Type + idElem + idComp, ghostClass: 'ghost', animation: 1}">
      <div v-for="(savoir, index) in listeSavoirs" :key="savoir.No" :class="{ item: actif}">
        <div class="field has-addons savoirDrag" @mouseover="savoir.focus = true" @mouseleave="savoir.focus = false">
          <div class="area">
            <a class="button is-static">
              <span class="icon is-small is-left">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </span>
            </a>
          </div>
          <div class="control is-expanded">
            <textarea rows="1" v-autosize="savoir.Description" class="textarea" @blur="updateSavoir(index)" v-model="savoir.Description" :placeholder="'Description ' + placeHolderTextByType"></textarea>
            <p class="printable">{{index + 1}}. {{ savoir.Description }}</p>
          </div>
          <div class="control is-small is-right" v-show="savoir.focus">
            <a class="button" @click="removeSavoir(index)"><i class="fa fa-trash"></i></a>
          </div>
        </div>
      </div>
      <div class="control">
        <!--v-if="focusAdd"-->
        <a class="button" @click="addSavoir" :disabled="!actif"><span class="icon is-small"><i class="fa fa-plus-circle"></i></span></a>
      </div>
    </draggable>
  </td>
</template>

<script>
  import axios from 'axios';
  import draggable from 'vuedraggable';

  export default {
    props: ['savoirs', 'idElem', 'Type', 'propsPlaceHolderByType', 'idComp'],
    components: {
      draggable,
    },
    data() {
      return {
        listeSavoirs: [],
        no: 0,
        actif: true,
        savoir: null,
        placeHolderTextByType: '',
        focusAdd: false,
        nouveauSavoir: {},
      };
    },
    created() {
      this.listeSavoirs = this.savoirs;
      this.placeHolderTextByType = this.propsPlaceHolderByType;
    },
    methods: {
      // addSavoir() {
      //   if (this.actif) {
      //     if (this.idComp === null) {
      //       this.deActivateButton();
      //       axios({
      //         method: 'POST',
      //         url: '/api/PostNewSavoir',
      //         contentType: 'application/json; charset=utf-8',
      //         dataType: 'json',
      //         data: {
      //           IdElementCompetence: this.idElem,
      //           Description: this.placeHolderTextByType,
      //           Type: this.Type,
      //           No: 0,
      //         },
      //       }).then(() => {
      //         this.updateListe();
      //         this.$parent.$parent.$parent.updateDBPopup('is-success', { });
      //       }).catch((error) => {
      //     this.$parent.$parent.$parent.updateDBPopup('is-danger', error.response.data.ModelState);
      //       });
      //     } else if (this.idElem === null) {
      //       this.deActivateButton();
      //       axios({
      //         method: 'POST',
      //         url: '/api/PostNewSavoirsCompetence',
      //         contentType: 'application/json; charset=utf-8',
      //         dataType: 'json',
      //         data: {
      //           IdCompetence: this.idComp,
      //           Description: this.placeHolderTextByType,
      //           Type: this.Type,
      //           No: 0,
      //         },
      //       }).then(() => {
      //         this.updateListe();
      //         this.$parent.$parent.updateDBPopup('is-success', { });
      //       }).catch((error) => {
      //         this.$parent.$parent.updateDBPopup('is-danger', error.response.data.ModelState);
      //       });
      //     }
      //   }
      // },
      addSavoir() {
        if (this.actif) {
          this.actif = false;
          if (this.idComp === null) {
            this.nouveauSavoir.IdElementCompetence = this.idElem;
            this.nouveauSavoir.Description = '';
            this.nouveauSavoir.Type = this.Type;
            this.nouveauSavoir.No = 0;
            this.nouveauSavoir.focus = false;
            this.listeSavoirs.push(this.nouveauSavoir);
          } else if (this.idElem === null) {
            this.nouveauSavoir.IdCompetence = this.idComp;
            this.nouveauSavoir.Description = '';
            this.nouveauSavoir.Type = this.Type;
            this.nouveauSavoir.No = 0;
            this.nouveauSavoir.focus = false;
            this.listeSavoirs.push(this.nouveauSavoir);
          }
        }
      },
      removeSavoir(index) {
        if (this.actif) {
          this.deActivateButton();
          const id = this.listeSavoirs[index].Id;
          if (this.idComp === null) {
            axios({
              method: 'DELETE',
              url: `/api/DeleteSavoir/${id}`,
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
            }).then(() => {
              this.updateListe();
              this.$parent.$parent.$parent.updateDBPopup('is-success', null);
            }).catch((error) => {
              this.updateListe();
              this.$parent.$parent.$parent.updateDBPopup('is-danger', error.response.data.ModelState);
            });
          } else if (this.idElem === null) {
            axios({
              method: 'DELETE',
              url: `/api/DeleteSavoirsCompetence/${id}`,
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
            }).then(() => {
              this.updateListe();
              this.$parent.$parent.updateDBPopup('is-success', null);
            }).catch((error) => {
              this.updateListe();
              this.$parent.$parent.updateDBPopup('is-danger', error.response.data.ModelState);
            });
          }
        } else {
          this.listeSavoirs.splice(this.listeSavoirs.length - 1, 1);
          this.nouveauSavoir = {};
          this.actif = true;
        }
      },
      // updateSavoir(event, index) {
      //   // this.listeSavoirs[index].Description = event.target.value;
      //   const savoirCourant = this.listeSavoirs[index];
      //   if (this.idComp === null) {
      //     if (savoirCourant.Description.trim() === '') {
      //       this.$parent.$parent.$parent.updateDBPopup('is-warning', { warning: 'Savoir vide' });
      //       return;
      //     }
      //     axios({
      //       method: 'PUT',
      //       url: `/api/UpdateSavoir/${savoirCourant.Id}`,
      //       contentType: 'application/json; charset=utf-8',
      //       dataType: 'json',
      //       data: savoirCourant,
      //     }).then(() => {
      //       this.$parent.$parent.$parent.updateDBPopup('is-success', null);
      //     }).catch((error) => {
  //       this.$parent.$parent.$parent.updateDBPopup('is-danger', error.response.data.ModelState);
      //     });
      //   } else if (this.idElem === null) {
      //     if (savoirCourant.Description.trim() === '') {
      //       this.$parent.$parent.updateDBPopup('is-warning', { warning: 'Savoir vide' });
      //       return;
      //     }
      //     axios({
      //       method: 'PUT',
      //       url: `/api/UpdateSavoirsCompetence/${savoirCourant.Id}`,
      //       contentType: 'application/json; charset=utf-8',
      //       dataType: 'json',
      //       data: savoirCourant,
      //     }).then(() => {
      //       this.$parent.$parent.updateDBPopup('is-success', null);
      //     }).catch((error) => {
      //       this.$parent.$parent.updateDBPopup('is-danger', error.response.data.ModelState);
      //     });
      //   }
      // },
      updateSavoir(index) {
        if (this.actif) {
          const savoirCourant = this.listeSavoirs[index];
          if (this.idComp === null) {
            if (savoirCourant.Description.trim() === '') {
              this.$parent.$parent.$parent.updateDBPopup('is-warning', { warning: 'Savoir vide' });
              return;
            }
            axios({
              method: 'PUT',
              url: `/api/UpdateSavoir/${savoirCourant.Id}`,
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: savoirCourant,
            }).then(() => {
              this.$parent.$parent.$parent.updateDBPopup('is-success', null);
            }).catch((error) => {
              this.$parent.$parent.$parent.updateDBPopup('is-danger', error.response.data.ModelState);
            });
          } else if (this.idElem === null) {
            if (savoirCourant.Description.trim() === '') {
              this.$parent.$parent.updateDBPopup('is-warning', { warning: 'Savoir vide' });
              return;
            }
            axios({
              method: 'PUT',
              url: `/api/UpdateSavoirsCompetence/${savoirCourant.Id}`,
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: savoirCourant,
            }).then(() => {
              this.$parent.$parent.updateDBPopup('is-success', null);
            }).catch((error) => {
              this.$parent.$parent.updateDBPopup('is-danger', error.response.data.ModelState);
            });
          }
        } else if (this.nouveauSavoir !== {}) {
          if (this.idComp === null) {
            if (this.nouveauSavoir.Description.trim() === '') {
              this.$parent.$parent.$parent.updateDBPopup('is-warning', { warning: 'Savoir vide' });
              return;
            }
            axios({
              method: 'POST',
              url: '/api/PostNewSavoir',
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: this.nouveauSavoir,
            }).then(() => {
              this.$parent.$parent.$parent.updateDBPopup('is-success', null);
              this.updateListe();
              this.actif = true;
            }).catch((error) => {
              this.$parent.$parent.$parent.updateDBPopup('is-danger', error.response.data.ModelState);
            });
          } else if (this.idElem === null) {
            if (this.nouveauSavoir.Description.trim() === '') {
              this.$parent.$parent.updateDBPopup('is-warning', { warning: 'Savoir vide' });
              return;
            }
            axios({
              method: 'POST',
              url: '/api/PostNewSavoirsCompetence',
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: this.nouveauSavoir,
            }).then(() => {
              this.$parent.$parent.updateDBPopup('is-success', null);
              this.updateListe();
              this.actif = true;
            }).catch((error) => {
              this.$parent.$parent.updateDBPopup('is-danger', error.response.data.ModelState);
            });
          }
        }
      },
      checkMove(evt) {
        if (evt.relatedContext.list.indexOf(evt.draggedContext.element) !== -1) {
          this.savoir = evt.draggedContext.element;
        } else {
          this.savoir = null;
        }
      },
      endMove() {
        if (this.savoir !== null) {
          const numero = this.listeSavoirs.indexOf(this.savoir) + 1;
          if (this.idComp === null) {
            axios({
              method: 'PUT',
              url: `/api/UpdateSavoirMove/${this.savoir.Id}`,
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: {
                No: numero,
              },
            }).then(() => {
              this.$parent.$parent.$parent.updateDBPopup('is-success', null);
            });
          } else if (this.idElem === null) {
            axios({
              method: 'PUT',
              url: `/api/UpdateSavoirsCompetenceMove/${this.savoir.Id}`,
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: {
                No: numero,
              },
            }).then(() => {
              this.$parent.$parent.updateDBPopup('is-success', null);
            });
          }
        }
      },
      updateListe() {
        this.listeSavoirs = [];
        if (this.idComp === null) {
          axios.get(`/api/GetSavoirsByIdElementAndType/${this.idElem}/${this.Type}`,
            {
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
            }).then((response) => {
              for (let i = 0; i < response.data.length; i += 1) {
                response.data[i].focus = false;
                this.listeSavoirs.push(response.data[i]);
              }
            }).then(() => {
              this.sortListe();
              this.activateButton();
            });
        } else if (this.idElem === null) {
          axios.get(`/api/GetSavoirsByIdCompetenceAndType/${this.idComp}/${this.Type}`,
            {
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
            }).then((response) => {
              for (let i = 0; i < response.data.length; i += 1) {
                response.data[i].focus = false;
                this.listeSavoirs.push(response.data[i]);
              }
            }).then(() => {
              this.sortListe();
              this.activateButton();
            });
        }
      },
      sortListe() {
        this.listeSavoirs = this.listeSavoirs.sort((a, b) => a.No - b.No);
      },
      activateButton() {
        this.actif = true;
      },
      deActivateButton() {
        this.actif = false;
      },
    },
  };
</script>

<style scoped lang="scss">
  .textarea {
    resize: none;
  }

  .savoirDrag:hover {
     cursor: move;
   }

  .savoirDrag a{
    background-color: white !important;
  }


  /*.ghost {*/
    /*opacity: .5;*/
    /*background: #C8EBFB;*/
  /*}*/

  /*.flip-list-move {*/
    /*transition: transform 0.5s;*/
  /*}*/

  /*.no-move {*/
    /*transition: transform 0s;*/
  /*}*/
</style>
