<template>
  <section v-if="show">
    <!-- Max per profile limit reached popup -->
    <div class="modal" id="maxCompetences" :class="{ 'is-active': isActiveMax}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Attention</p>
          <button class="delete removeModal" aria-label="close" @click="isActiveMax = false"></button>
        </header>
        <section class="modal-card-body">
          Vous ne pouvez plus ajouter de compétences à ce profil
        </section>
        <footer class="modal-card-foot">
          <button class="button removeModal is-success" @click="isActiveMax = false">Ok</button>
        </footer>
      </div>
    </div>

    <div>
      <div class="columns">
        <div class="column ">
          <h1 class="box title is-4">
            Compétences du profil
            <button :data-balloon="textHoverInfo" data-balloon-pos="left"
                    data-balloon-length="medium" id="" class="is-pulled-right button is-small">
              <i class="fa fa-question" aria-hidden="true"></i>
            </button>
          </h1>
          <draggable style="min-height: 44px" @end="deleteCompetenceProfil" :move="checkMove" v-model="listeCompetencesProfil" class="dragArea in" :options="{draggable:'.item', group:'comp', ghostClass: 'ghost', animation: 1}">
            <div v-for="comp in listeCompetencesProfil" class="item competenceBox box is-marginless" v-if="!comp.Obligatoire" :class="comp.Couleur">
              {{ comp.Code}}  {{ comp.Enonce }}
            </div>
          </draggable>
          <div v-for="comp in listeCompetencesProfil" class="competenceBox box is-marginless obligatoire" v-if="comp.Obligatoire" :class="comp.Couleur">
            {{ comp.Code}}  {{ comp.Enonce }}
          </div>
        </div>
        <div class="column is-three-fifths">
          <h1 class="box title is-4">Compétence optionnelles</h1>
          <draggable @end="postCompetenceProfil" :move="checkMove" v-model="listeCompetences" class="dragArea out" :options="{group:'comp', ghostClass: 'ghost', animation: 1}">
              <div class="competenceBox box is-marginless" v-for="comp in listeCompetences" :class="comp.Couleur">
                {{ comp.Code}}  {{ comp.Enonce }}
              </div>
          </draggable>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import axios from 'axios';
  import draggable from 'vuedraggable';

  export default {
    name: 'profilListe',
    props: ['idProfil', 'afficher'],
    components: {
      draggable,
    },
    data() {
      return {
        listeCompetencesProfil: [],
        listeCompetences: [],
        idPost: null,
        idDelete: null,
        isActiveMax: false,
        contextPost: null,
        show: '',
        textHoverInfo: 'Glisses une compétence d\'une liste vers l\'autre pour modification de la liste du profil',
      };
    },
    watch: {
      idProfil(value) {
        this.getCompetencesProfil(value);
      },
      afficher(value) {
        this.show = value;
      },
    },
    computed: {
      listeCompetencesOptionnel() {
        return this.listeCompetencesProfil.filter(item => item.Obligatoire !== true);
      },
    },
    methods: {
      getCompetencesProfil(id) {
        this.listeCompetencesProfil = [];
        this.listeCompetences = [];
        axios.get(`/api/GetCompetencesProfils/${id}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            for (let i = 0; i < response.data.length; i += 1) {
              this.listeCompetencesProfil.push(response.data[i]);
            }
            this.getCompetences(id);
          });
      },
      getCompetences(id) {
        axios.get(`/api/GetCompetencesProfilsOptionnel/${id}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            for (let i = 0; i < response.data.length; i += 1) {
              this.listeCompetences.push(response.data[i]);
            }
          });
      },
      postCompetenceProfil() {
        if (this.idPost !== null) {
          if (this.listeCompetencesOptionnel.length < 8) {
            axios({
              method: 'POST',
              url: '/api/NewProfilsCompetence',
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: {
                IdProfil: this.idProfil,
                IdCompetence: this.idPost,
              },
            }).then(() => {
              this.idPost = null;
              this.$parent.updateDBPopup('is-success', null);
            });
          } else {
            this.isActiveMax = true;
            this.listeCompetences.push(this.contextPost.element);
            const idx = this.listeCompetencesProfil.indexOf(this.contextPost.element);
            this.listeCompetencesProfil.splice(idx, 1);
          }
        }
      },
      deleteCompetenceProfil() {
        if (this.idDelete !== null) {
          axios({
            method: 'DELETE',
            url: `/api/DeleteProfilsCompetence/${this.idProfil}/${this.idDelete}`,
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
          }).then(() => {
            this.idDelete = null;
            this.$parent.updateDBPopup('is-success', null);
          });
        }
      },
      checkMove(evt) {
        if (evt.relatedContext.list.indexOf(evt.draggedContext.element) === -1) {
          if (this.listeCompetencesProfil.indexOf(evt.draggedContext.element) === -1) {
            this.idPost = evt.draggedContext.element.Id;
            this.contextPost = evt.draggedContext;
          } else {
            this.idDelete = evt.draggedContext.element.Id;
          }
        } else {
          this.idPost = null;
          this.idDelete = null;
        }
      },
    },
  };
</script>

<style scoped lang="scss">
  .competenceBox {
    padding: 10px;
    border-radius: 0;
    width:100%;
  }

  .competenceBox:hover:not(.obligatoire) {
    cursor: pointer;
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
  }

  .obligatoire {
    padding-left: 7px;
  }

</style>
