<template>
  <div>
    <!-- selectionner un profil -->
    <div class="level">
      <titre :propsTitle="'Grille de cours'"></titre>
      <div class="level-item level-right">
        <div class="field has-addons">
          <div class="control">
            <div class="select">
              <select v-model="indexOption" id="listeProfils" @change="selected">
                <option selected value="">Sélectionner un Profil</option>
                <option v-for="(option, index) in profilsOptions" :value="index" :key="option.Id">{{ option.Nom }}</option>
              </select>
            </div>
          </div>
          <div class="control">
            <a :disabled="!show" @click="isActiveCreer = true" class="button is-success"
               :data-balloon="'Cliques ici pour ajouter un nouveau cours'"
               data-balloon-pos="down" data-balloon-length="medium">
              <span class="icon is-small">
                <i class=" fa fa-plus"></i>
              </span>
            </a>
          </div>
          <div class="control">
            <a :disabled="!show" @click="isActiveAjouterCoursExistant = true" class="button"
               :data-balloon="'Cliques ici pour ajouter un cours existant'"
               data-balloon-pos="down" data-balloon-length="medium">
              <!--<span class="icon is-small">-->
                <!--<i class=" fa fa-plus"></i>-->
              <!--</span>-->
              Cours existant
            </a>
          </div>
          <div class="control">
            <router-link :to="'/Profil/' +  profil.Id">
              <button :disabled="!show" class="button">Profil</button>
              </router-link>
          </div>
        </div>
      </div>
    </div>

      <!-- Deletion popup confirmation box -->
    <div class="modal" id="ConfirSupp" :class="{ 'is-active': isActiveSupp }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Suppression du cours</p>
          <button class="delete removeModal" aria-label="close" @click="hideSuppCoursModal"></button>
        </header>
        <section class="modal-card-body">
          Êtes-vous sur de vouloir supprimer ce cours ?
        </section>
        <footer class="modal-card-foot">
          <button id="confirmSup" class="button is-success" @click="supprimerCours(idCoursToSupp)">Confirmer</button>
          <button class="button removeModal" @click="hideSuppCoursModal">Annuler</button>
        </footer>
      </div>
    </div>

   <!-- Cours creation modal -->
    <div class="modal" :class="{ 'is-active': isActiveCreer }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Création d'un nouveau Cours</p>
          <button class="delete removeModal" aria-label="close" @click="hideCreerCoursModal"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Titre</label>
            <div class="control">
              <input class="input" type="text" id="nouveauTitreCours" v-model="titreCoursCreer"/>
            </div>
          </div>

          <div class="field">
            <label class="label">Sigle</label>
            <div class="control">
              <input class="input" type="text" id="nouveauSigleCours" v-model="sigleCoursCreer"/>
            </div>
          </div>

          <div class="field">
            <label class="label">Durée</label>
            <div class="control">
              <input class="input" type="number" min="0" max="2147483647" id="nouvelleDureeCours" v-model="dureeCoursCreer"/>
            </div>
          </div>

          <div class="field">
            <label class="label">Pondération</label>
            <div class="control">
              <input class="input" type="number" min="0" max="9" id="nouvellePonderation0Cours" v-model="ponderation0CoursCreer"/>
              <input class="input" type="number" min="0" max="9" id="nouvellePonderation1Cours" v-model="ponderation1CoursCreer"/>
              <input class="input" type="number" min="0" max="9" id="nouvellePonderation2Cours" v-model="ponderation2CoursCreer"/>
            </div>
          </div>

          <div class="field">
            <label class="label">Champ de compétence</label>
            <div class="select">
              <select v-model="idChampsCompetencesCoursCreer" id="listeChampsCompetences">
                <option selected value="">Sélectionner un champ de compétence</option>
                <option v-for="option in listeChampsCompetences" :value="option.Id" :key="option.Id" :class="option.Couleur">{{ option.Enonce }}</option>
              </select>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Session</label>
                <div class="control">
                  <div class="select">
                    <select v-model="indexSession">
                      <option :value="0">Select</option>
                      <option :value="1">1</option>
                      <option :value="2">2</option>
                      <option :value="3">3</option>
                      <option :value="4">4</option>
                      <option :value="5">5</option>
                      <option :value="6">6</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea" id="nouvelleDescriptionCours"  v-model="descriptionCoursCreer"></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">Contenu</label>
            <div class="control">
              <textarea class="textarea" id="nouveauContenuCours"  v-model="contenuCoursCreer"></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">Description de l'épreuve finale</label>
            <div class="control">
              <textarea class="textarea" id="nouvelleEpreuveFinaleCours"  v-model="epreuveFinaleCoursCreer"></textarea>
            </div>
          </div>

        </section>
        <footer class="modal-card-foot">
          <input class="button is-success" type="submit" id="creerCours" value="Save" @click="btnCreerCours" />
          <button class="button removeModal" @click="hideCreerCoursModal">Annuler</button>
        </footer>
      </div>
    </div>

     <!-- Cours modification modal -->
    <div class="modal" :class="{ 'is-active': isActiveModifier }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Modification du cours</p>
          <button class="delete removeModal" aria-label="close" @click="hideModifierCoursModal"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Titre</label>
            <div class="control">
              <input class="input" type="text" id="nouveauTitreCours" v-model="titreCoursModifier"/>
            </div>
          </div>

          <div class="field">
            <label class="label">Sigle</label>
            <div class="control">
              <input class="input" type="text" id="nouveauSigleCours" v-model="sigleCoursModifier"/>
            </div>
          </div>

          <div class="field">
            <label class="label">Durée</label>
            <div class="control">
              <input class="input" type="number" min="0" max="2147483647" id="nouvelleDureeCours" v-model="dureeCoursModifier"/>
            </div>
          </div>

          <div class="field">
            <label class="label">Pondération</label>
            <div class="control">
              <input class="input" type="number" min="0" max="9" id="nouveauPonderation0Cours" v-model="ponderation0CoursModifier"/>
              <input class="input" type="number" min="0" max="9" id="nouveauPonderation1Cours" v-model="ponderation1CoursModifier"/>
              <input class="input" type="number" min="0" max="9" id="nouveauPonderation2Cours" v-model="ponderation2CoursModifier"/>
            </div>
          </div>

          <div class="field">
            <label class="label">Champ de compétence</label>
            <div class="select">
              <select v-model="idChampsCompetencesCoursModifier" id="listeChampsCompetences">
                <option selected value="">Sélectionner un champ de compétence</option>
                <option v-for="option in listeChampsCompetences" :value="option.Id" :key="option.Id" :class="option.Couleur">{{ option.Enonce }}</option>
              </select>
            </div>
          </div>

          <div class="field">
            <label class="label">Compétences</label>
            <div v-for="c in competencesCoursModifier" :key="c.Id" :class="[ 'c.Couleur', 'has-addons' ]">
              <div class="control">
                {{ c.Code }} - {{ c.Enonce }}
              </div>
              <div class="control">
                <a class="icon is-medium button" @click="removeCompetence(c)"
                  v-bind:class="{ 'invisible': !c.showIcons }">
                  <i class="fa fa-trash is-danger"></i>
                </a>
              </div>
            </div>
            <div class="select">
              <select v-model="nouvelleCompetencesCoursModifier" id="listeCompetences" @change="selectedCompetence">
                <option selected value="0">Sélectionner une compétence</option>
                <option v-for="option in listeCompetences" :value="option.Id" :key="option.Id" :class="option.Couleur">
                  {{ option.Code }} - {{ option.Enonce }}
                </option>
              </select>
            </div>
          </div>

          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea" id="nouvelleDescriptionCours"  v-model="descriptionCoursModifier"></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">Contenu</label>
            <div class="control">
              <textarea class="textarea" id="nouveauContenuCours"  v-model="contenuCoursModifier"></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">Description de l'épreuve finale</label>
            <div class="control">
              <textarea class="textarea" id="nouvelleEpreuveFinaleCours"  v-model="epreuveFinaleCoursModifier"></textarea>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <input class="button is-success" type="submit" id="creerCours" value="Sauvegarder" @click="btnModifierCours" />
          <button class="button removeModal" @click="hideModifierCoursModal">Annuler</button>
        </footer>
      </div>
    </div>

     <!-- Ajouter Cours existante modal -->
    <div class="modal" :class="{ 'is-active': isActiveAjouterCoursExistant }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Ajouter un Cours existant</p>
          <button class="delete removeModal" aria-label="close" @click="hideAjouterCoursExistantModal"></button>
        </header>
        <section class="modal-card-body">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Session</label>
                <div class="control">
                  <div class="select">
                    <select v-model="indexSession" @change="getListeCoursExistants(indexSession)">
                      <option :value="1">Select</option>
                      <option :value="1">1</option>
                      <option :value="2">2</option>
                      <option :value="3">3</option>
                      <option :value="4">4</option>
                      <option :value="5">5</option>
                      <option :value="6">6</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="indexSession !== 0 || listeCoursExistants.length !== 0" class=" column is-2 is-session coursSession">
                     <div v-for="cours in listeCoursExistants" class="" :key="cours.Id">
                      <p class="control is-expanded">{{cours.Titre}}</p>
                      <a  class=" button" @click="addCoursExistant(cours.Id, indexSession)"><i class="fa fa-plus-circle"></i></a>
                    </div>
          </div>
        </section>

      </div>
    </div>



    <cours :sessionAjouter="sessionAjouterExistente"
              :show="show"
              @listeCoursExistante="checkAjoutCoursExistante"
              @ModifierCours="checkModif"
              @DeleteCours="checkDelete"
              :actualiser="actu"
              @actu="updateValActu"
              :idProfil="profil.Id"
              @creerCours="checkAdd">
    </cours>
    <pop-up-saved :propsPopupHide="popupHide"
                  :propsMessageClass="popupMessageClass"
                  :propsMessageSuccessError="popupMessageContent"></pop-up-saved>
  </div>
</template>

<script>
  // import axios from 'axios';
  import axios from 'axios';
  import cours from '@/components/form/cours/StructureTableauCours';
  import titre from '@/components/static_rendering/TitrePage';
  import PopUpSaved from '@/components/reactivity/PopUpSavedCornerRightDown';
  // import draggable from 'vuedraggable';
  // import focus from 'vue-focus';

export default {
    components: {
      cours,
      titre,
      PopUpSaved,
    },
    data() {
      return {
        listeChampsCompetences: [],
        listeCompetences: [],
        coursCourant: {},
        listeCoursExistants: [],
        isActiveAjouterCoursExistant: false,
        profil: {},
        indexOption: '',
        profilsOptions: [],
        isActiveCreer: false,
        isActiveModifier: false,
        isActiveSupp: false,
        titreCoursCreer: '',
        sigleCoursCreer: '',
        dureeCoursCreer: 0,
        ponderation0CoursCreer: 0,
        ponderation1CoursCreer: 0,
        ponderation2CoursCreer: 0,
        descriptionCoursCreer: '',
        contenuCoursCreer: '',
        epreuveFinaleCoursCreer: '',
        idChampsCompetencesCoursCreer: 0,
        sessionCourante: '',
        test: '',
        listeCoursProfil: [],
        actu: false,
        idCoursToSupp: '',
        idCoursToUpdate: 0,
        titreCoursModifier: '',
        sigleCoursModifier: '',
        dureeCoursModifier: 0,
        ponderationCoursModifier: '',
        ponderation0CoursModifier: 0,
        ponderation1CoursModifier: 0,
        ponderation2CoursModifier: 0,
        descriptionCoursModifier: '',
        contenuCoursModifier: '',
        epreuveFinaleCoursModifier: '',
        idChampsCompetencesCoursModifier: 0,
        competencesCoursModifier: [],
        nouvelleCompetencesCoursModifier: 0,
        show: false,
        sessionAjouterExistente: '',
        indexSession: 1,
        popupHide: true,
        popupMessageClass: '',
        popupMessageContent: {},
      };
    },
    methods: {
      selected() {
        if (this.indexOption !== '') {
          this.profil = this.profilsOptions[this.indexOption];
          this.show = true;
        } else {
          this.show = false;
        }
      },
      selectedCompetence() {
        if (this.nouvelleCompetencesCoursModifier) {
          const nouvelleComp = this.listeCompetences.filter(
            x => x.Id === this.nouvelleCompetencesCoursModifier)[0];
          this.competencesCoursModifier.push(nouvelleComp);
          this.listeCompetences = this.listeCompetences.filter(
            x => x.Id !== this.nouvelleCompetencesCoursModifier);
        }
      },
      getListeProfils() {
        this.profilsOptions = [];
        axios.get('/api/Profils',
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            for (let i = 0; i < response.data.length; i += 1) {
              this.profilsOptions.push(response.data[i]);
            }
          });
      },
      getListeCoursExistants(session) {
        if (session !== 0) {
          axios.get(`/api/GetCoursBySession/${session}/${this.profil.Id}`,
            {
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
            }).then((response) => {
              this.listeCoursExistants = [];
              for (let i = 0; i < response.data.length; i += 1) {
                this.listeCoursExistants.push(response.data[i]);
              }
            // this.$emit('listeCoursExistante', this.listeCoursExistante);
            });
        }
      },
      updateDBPopup(stringClass, objectMessage) {
        this.popupHide = false;
        this.popupMessageClass = stringClass;
        this.popupMessageContent = objectMessage;
        setTimeout(this.closePopup, 2000);
      },
      closePopup() {
        this.popupHide = true;
      },
      hideCreerCoursModal() {
        this.isActiveCreer = false;
      },
      hideSuppCoursModal() {
        this.isActiveSupp = false;
      },
      hideModifierCoursModal() {
        this.isActiveModifier = false;
        this.titreCoursModifier = '';
        this.sigleCoursModifier = '';
        this.dureeCoursModifier = 0;
        this.ponderation0CoursModifier = 0;
        this.ponderation1CoursModifier = 0;
        this.ponderation2CoursModifier = 0;
        this.ponderationCoursModifier = '';
        this.descriptionCoursModifier = '';
        this.contenuCoursModifier = '';
        this.epreuveFinaleCoursModifier = '';
        this.idChampsCompetencesCoursCreer = 0;
        this.competencesCoursModifier = [];
        this.idCoursToUpdate = 0;
        this.coursCourant = {};
      },
      hideAjouterCoursExistantModal() {
        this.isActiveAjouterCoursExistant = false;
      },
      btnCreerCours() {
        axios({
          method: 'POST',
          url: '/api/Cours',
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: {
            Titre: this.titreCoursCreer,
            Sigle: this.sigleCoursCreer,
            Duree: this.dureeCoursCreer,
            Ponderation: this.ponderation0CoursCreer.toString()
              + this.ponderation1CoursCreer.toString()
              + this.ponderation2CoursCreer.toString(),
            Description: this.descriptionCoursCreer,
            Contenu: this.contenuCoursCreer,
            EpreuveFinale: this.epreuveFinaleCoursCreer,
            IdChampsCompetences: this.idChampsCompetencesCoursCreer,
            Competences: this.competencesCoursModifier,
            Session: this.indexSession,
          },
        }).then((response) => {
          axios({
            method: 'POST',
            url: '/api/CoursProfils/',
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: {
              IdProfil: this.profil.Id,
              IdCours: response.data,
              Session: this.indexSession,
              PositionVerticale: 0,
            },
          }).then(() => {
            this.actu = true;
            this.hideCreerCoursModal();
            this.updateDBPopup('is-success', null);
          });
        });
      },
      supprimerCours(id) {
        axios({
          method: 'DELETE',
          url: `/api/CoursProfils/${id}`,
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
        }).then(() => {
          this.actu = true;
          this.hideSuppCoursModal();
          this.updateDBPopup('is-success', null);
        });
      },
      checkAdd(val, session) {
        this.isActiveCreer = val;
        this.sessionCourante = session;
      },
      checkDelete(val, id, session) {
        this.isActiveSupp = val;
        this.idCoursToSupp = id;
        this.sessionCourante = session;
        this.getListChampsCompetences();
      },
      checkModif(val, c, session) {
        this.isActiveModifier = val;
        this.titreCoursModifier = c.Titre;
        this.sigleCoursModifier = c.Sigle;
        this.dureeCoursModifier = c.Duree;
        this.ponderation0CoursModifier = c.Ponderation.charAt(0);
        this.ponderation1CoursModifier = c.Ponderation.charAt(1);
        this.ponderation2CoursModifier = c.Ponderation.charAt(2);
        this.descriptionCoursModifier = c.Description;
        this.contenuCoursModifier = c.Contenu;
        this.epreuveFinaleCoursModifier = c.EpreuveFinale;
        this.idCoursToUpdate = c.Id;
        this.idChampsCompetencesCoursModifier = c.IdChampsCompetences;
        this.competencesCoursModifier = [];
        this.getListChampsCompetences();
        this.getListCompetences(session, () => {
          axios.get(`/api/GetCoursCompetences/${c.Id}`,
            {
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
            }).then((res) => {
              for (let i = 0; i < res.data.length; i += 1) {
                this.competencesCoursModifier.push(res.data[i]);
                const idx = this.listeCompetences.findIndex(x => x.Id === res.data[i].Id);
                if (idx >= 0) {
                  this.listeCompetences.splice(idx, 1);
                }
              }
              this.coursCourant.Competences = this.competencesCoursModifier;
              this.coursCourant = c;
            });
        });
      },
      checkAjoutCoursExistante(liste) {
        this.listeCoursExistants = liste;
        this.isActiveAjouterCoursExistant = true;
      },
      actualiserListe() {
        this.actu = true;
        return this.actu;
      },
      updateValActu(value) {
        this.actu = value;
      },
      addCoursExistant(idCours, session) {
        axios({
          method: 'POST',
          url: '/api/CoursProfils/',
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: {
            IdProfil: this.profil.Id,
            IdCours: idCours,
            Session: session,
          },
        }).then(() => {
          this.actu = true;
          this.sessionAjouterExistente = session;
          this.hideAjouterCoursExistantModal();
          this.updateDBPopup('is-success', null);
        });
      },
      btnModifierCours() {
        this.coursCourant.Titre = this.titreCoursModifier;
        this.coursCourant.Sigle = this.sigleCoursModifier;
        this.coursCourant.Duree = this.dureeCoursModifier;
        this.coursCourant.Ponderation = this.ponderation0CoursModifier.toString()
          + this.ponderation1CoursModifier.toString()
          + this.ponderation2CoursModifier.toString();
        this.coursCourant.Description = this.descriptionCoursModifier;
        this.coursCourant.Contenu = this.contenuCoursModifier;
        this.coursCourant.EpreuveFinale = this.epreuveFinaleCoursModifier;
        this.coursCourant.IdChampsCompetences = this.idChampsCompetencesCoursModifier;
        this.coursCourant.Competences = this.competencesCoursModifier;
        axios({
          method: 'PUT',
          url: `/api/Cours/${this.coursCourant.Id}`,
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: this.coursCourant,
        }).then(() => {
          this.actu = true;
          this.hideModifierCoursModal();
        });
      },
      getListChampsCompetences() {
        this.listeChampsCompetences = [];
        axios.get('/api/ChampsCompetences',
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((res) => {
            for (let i = 0; i < res.data.length; i += 1) {
              this.listeChampsCompetences.push(res.data[i]);
            }
          });
      },
      getListCompetences(session, callback) {
        this.listeCompetences = [];
        axios.get(`/api/GetProfilsCompetenceBySession/${this.profil.Id}/${session}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((res) => {
            for (let i = 0; i < res.data.length; i += 1) {
              this.listeCompetences.push(res.data[i]);
            }
          }).then(() => callback());
      },
      removeCompetence(comp) {
        axios({
          method: 'DELETE',
          url: `/api/CoursCompetences/${this.coursCourant.Id}/${comp.Id}`,
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
        }).then(() => {
          this.competencesCoursModifier.splice(
            this.competencesCoursModifier.findIndex(x => x.Id === comp.Id), 1);
          this.listeCompetences.push(comp);
          this.updateDBPopup('is-success', null);
        });
      },
    },
    created() {
      this.getListeProfils();
      this.getListChampsCompetences();
      if (this.$route.params.idProfil !== undefined) {
        const idProfil = this.$route.params.idProfil;
        this.show = true;
        this.afficher = true;
        axios.get(`/api/Profils/${idProfil}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            this.profil = response.data;
          });
      }
    },
};
</script>

<style>

</style>
