<template>
  <div>
    <!-- Modal set session -->
    <div class="modal" :class="{ 'is-active': isActiveModal }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Session de la Compétence</p>
          <button class="delete removeModal" aria-label="close" @click="closeModal"></button>
        </header>
        <section class="modal-card-body">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Session Début</label>
                <div class="control">
                  <div class="select">
                    <select v-model="indexSessionDebut" @change="setListeSessionFin">
                      <option :value="0">Select</option>
                      <option :value="1">1</option>
                      <option :value="2">2</option>
                      <option :value="3">3</option>
                      <option :value="4">4</option>
                      <option :value="5">5</option>
                      <option :value="6">6</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Session Fin</label>
                <div class="control">
                  <div class="select">
                    <select v-model="indexSessionFin">
                      <option :value="0">Select</option>
                      <option v-for="session in listeSessionsFin" :value="session">{{ session }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span v-if="erreurSession" class="tag is-danger">Selectionner une session de début et de fin</span>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" @click="setSession()">Confirmer</button>
        </footer>
      </div>
    </div>

    <!-- Layout Cibles -->
    <div>
      <div class="level">
        <title-page :propsTitle="'Logigramme de compétences'"></title-page>
        <div class="level-item level-right has-addons">
          <div class="field has-addons">
            <div class="control">
              <div class="select">
                <select v-model="indexOption" id="listeProfils" @change="selected">
                  <option selected value="">Selectionner un Profil</option>
                  <option v-for="(option, index) in profilsOptions" :value="index" :key="option.Id">{{ option.Nom }}</option>
                </select>
              </div>
            </div>
            <div class="control">
              <router-link :to="'/Activite/' +  profil.Id"><button :disabled="!afficher" class="button">Activités du Profil</button></router-link>
            </div>
          </div>
        </div>
      </div>
      <div v-if="afficher" class="columns">
        <div class="column is-narrow">
          <h5 class="box title is-5">Compétences
            <button :data-balloon="textHoverCompetencesInfo" data-balloon-pos="left"
                    data-balloon-length="medium"
                    class="is-pulled-right button is-small infoBtn">
                    <!--id="infoBtn"-->
              <i class="fa fa-question" aria-hidden="true"></i>
            </button>
          </h5>
              <div v-for="(element, index) in competencesSansSession" :key="element.IdCompetence"
                   :class="[element.Couleur, {obligatoire: element.Obligatoire}]"
                   class=" competenceBox box is-marginless"
                   :data-balloon="element.Enonce" data-balloon-pos="right"
                   data-balloon-length="medium">
                  {{ element.Code }}

                <a type="button" class="button is-small is-pulled-right edit-button"
                   @click="getSession(profilCompetence = element, indexComp = index)">
                  <i class="fa fa-pencil-square-o is-pulled-right" aria-hidden="true"></i>
                </a>
              </div>
        </div>
        <structure-tableau-cible :compsProp="competencesAvecSession" @setProfilCompetence="profilCompetence = $event" :propsProfil="profil"></structure-tableau-cible>
        <pop-up-saved :propsPopupHide="popupHide"
                      :propsMessageClass="popupMessageClass"
                      :propsMessageSuccessError="popupMessageContent"></pop-up-saved>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import draggable from 'vuedraggable';
  import TitlePage from '@/components/static_rendering/TitrePage';
  import StructureTableauCible from '@/components/form/cible/StructureTableauCible';
  import PopUpSaved from '@/components/reactivity/PopUpSavedCornerRightDown';
  // import focus from 'vue-focus';

  export default {
    components: {
      draggable,
      TitlePage,
      StructureTableauCible,
      PopUpSaved,
    },
    data() {
      return {
        textHoverCompetencesInfo: "Cliques sur le boutton pour pouvoir l'ajouter au tableau d'analyse",
        profilsOptions: [],
        competencesAvecSession: [],
        competencesSansSession: [],
        indexOption: '',
        profil: {},
        afficher: false,
        popupHide: true,
        isActiveModal: false,
        profilCompetence: {},
        indexComp: -1,
        indexSessionDebut: 0,
        indexSessionFin: 0,
        listeSessionsFin: [],
        erreurSession: false,
        popupMessageClass: '',
        popupMessageContent: {},
      };
    },
    created() {
      this.getListeProfils();
      if (this.$route.params.idProfil !== undefined) {
        const idProfil = this.$route.params.idProfil;
        this.show = true;
        this.afficher = true;
        axios.get(`/api/Profils/${idProfil}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            this.profil = response.data;
          }).then(() => {
            this.affListeCompetences(this.profil.Id);
          });
      }
    },
    filters: {
      filterLineCount(val) {
        const subString = val.substring(0, 36 - 3);
        const newString = subString.concat('...');
        return val.length > 36 ? newString : val;
      },
    },
    methods: {
      selected() {
        if (this.indexOption !== '') {
          this.profil = this.profilsOptions[this.indexOption];
          this.afficher = true;
          this.affListeCompetences(this.profil.Id);
        } else {
          this.afficher = false;
        }
      },
      affListeCompetences(id) {
        this.clearListeCompetences();
        axios.get(`/api/GetProfilsCompetenceCodeEnonce/${id}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          })
          .then((response) => {
            if (response.data !== null) {
              for (let i = 0; i < response.data.length; i += 1) {
                if (response.data[i].positionVertical === null) {
                  this.competencesSansSession.push(response.data[i]);
                } else {
                  this.competencesAvecSession.push(response.data[i]);
                }
              }
            }
          }).then(() => {
            this.sortListe();
          });
      },
      getListeProfils() {
        this.profilsOptions = [];
        axios.get('/api/Profils',
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            for (let i = 0; i < response.data.length; i += 1) {
              this.profilsOptions.push(response.data[i]);
            }
          });
      },
      clearListeCompetences() {
        this.competencesSansSession = [];
        this.competencesAvecSession = [];
      },
      updateDBPopup(stringClass, objectMessage) {
        this.popupHide = false;
        this.popupMessageClass = stringClass;
        this.popupMessageContent = objectMessage;
        setTimeout(this.closePopup, 2000);
      },
      closePopup() {
        this.popupHide = true;
      },
      closeModal() {
        this.isActiveModal = false;
        this.erreurSession = false;
      },
      getSession() {
        if (this.profilCompetence.sessionDebut !== null) {
          this.indexSessionDebut = parseInt(this.profilCompetence.sessionDebut);
        } else {
          this.indexSessionDebut = 0;
        }
        if (this.profilCompetence.sessionFin !== null) {
          this.indexSessionFin = parseInt(this.profilCompetence.sessionFin);
        } else {
          this.indexSessionFin = 0;
        }
        this.setListeSessionFin();
        this.isActiveModal = true;
      },
      setSession() {
        if (this.indexSessionDebut !== 0 && this.indexSessionFin !== 0) {
          this.profilCompetence.sessionDebut = this.indexSessionDebut;
          this.profilCompetence.sessionFin = this.indexSessionFin;
          axios({
            method: 'PUT',
            url: `/api/ProfilsCompetences/${this.profilCompetence.IdProfilCompetence}`,
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: {
              sessionDebut: this.indexSessionDebut,
              sessionFin: this.indexSessionFin,
            },
          }).then(() => {
            if (this.indexComp !== -1) {
              this.competencesAvecSession.push(this.competencesSansSession[this.indexComp]);
              this.competencesSansSession.splice(this.indexComp, 1);
              this.affListeCompetences(this.profil.Id);
            }
            this.isActiveModal = false;
            this.erreurSession = false;
            this.indexComp = -1;
            this.updateDBPopup('is-success', null);
          });
        } else {
          this.erreurSession = true;
        }
      },
      setListeSessionFin() {
        if (this.indexSessionDebut !== null && this.indexSessionFin !== null) {
          const sessionFin = this.indexSessionFin;
          this.listeSessionsFin = [];
          for (let i = this.indexSessionDebut; i <= 6; i += 1) {
            this.listeSessionsFin.push(i);
          }
          if (this.indexSessionDebut > sessionFin) {
            this.indexSessionFin = 0;
          } else {
            this.indexSessionFin = sessionFin;
          }
        } else {
          this.listeSessionsFin = [1, 2, 3, 4, 5, 6];
        }
      },
      sortListe() {
        this.competencesAvecSession =
          this.competencesAvecSession
            .sort((a, b) =>
              a.positionVertical - b.positionVertical);
      },
    },
  };
</script>

<style scoped lang="scss">

  .competenceBox {
    padding: 10px;
    border-radius: 0;
    width:100%;
  }

  .competenceBox span:hover {
    color: white;
    background: #003E7E;
  }

  .infoBtn{
    margin-left: .6rem;
  }

  .obligatoire {
    padding-left: 7px;
  }

</style>
