<template>
  <nav class="navbar has-shadow-custom is-fixed-top"
       role="navigation" aria-label="dropdown navigation">
    <div class="container is-fluid">
      <div class="navbar-brand">
        <div class="navbar-item">
          <img src="../img/logo_college_maisonneuve.png" alt="College de Maisonneuve">
        </div>
        <div class="navbar-burger burger" data-target="menu" :class="{'is-active': burgerActive}" @click="burgerToggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" id="menu" :class="{'is-active': burgerActive}">
        <div class="navbar-start">
          <router-link to="/Index" class="navbar-item">Accueil</router-link>
          <router-link to="/ChampCompetence" class="navbar-item">Analyse des champs de compétence</router-link>
          <router-link to="/FormulaireCompetence" class="navbar-item">Compétences</router-link>
          <router-link to="/Profil" class="navbar-item">Profils de sortie</router-link>
          <router-link to="/Cours" class="navbar-item">Grilles de cours</router-link>
          <router-link to="/FormulaireCible" class="navbar-item">Logigramme des compétences</router-link>
          <router-link to="/Activite" class="navbar-item">Activités d'apprentissage</router-link>
        </div>

        <div v-if="isUnlogged == true" class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Listes des programmes
            </a>
            <div class="navbar-dropdown is-right" >
              <div   class="navbar-item">Informatique</div>
              <div   class="navbar-item">Procédés industriels</div>
            </div>
          </div>
        </div>

        <div v-if="isUnlogged == true" class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">

              Compte
            </a>
            <div class="navbar-dropdown is-right">
              <router-link to="/LogIn" class="navbar-item">Connexion</router-link>
              <router-link to="/SignUp" class="navbar-item">S'inscrire</router-link>
              <hr class="navbar-divider">
              <div class="navbar-item">
                Version 0.3.2
              </div>
            </div>
          </div>
        </div>
        <div v-else class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {{ email }}
            </a>

            <div class="navbar-dropdown is-right">
              <a @click="singout" class="navbar-item">Déconnexion</a>
              <hr class="navbar-divider">
              <div class="navbar-item">
                Version 0.3.2
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </nav>
</template>

<script>
  import AuthService from '../services/auth-service';
  import bus from '../services/bus';

  export default {
    name: 'navbar',
    data() {
      return {
        burgerActive: false,
        isUnlogged: this.checkIfIsLogged(),
        email: this.checkIfThereIsEmail(),
      };
    },
    created() {
      bus.$on('logged', (value) => {
        this.isUnlogged = this.checkIfIsLogged();
        this.email = value;
      });
    },
    methods: {
      burgerToggle() {
        if (this.burgerActive) {
          this.burgerActive = false;
        } else {
          this.burgerActive = true;
        }
      },
      checkIfIsLogged() {
        const bool = AuthService.tokenIsInvalid();
        this.isUnlogged = bool;
        return bool;
      },
      checkIfThereIsEmail() {
        const email = AuthService.getEmail();
        if (email) {
          return email;
        }
        return 'Compte';
      },
      singout() {
        AuthService.deconnectUser();
        this.isUnlogged = this.checkIfIsLogged();
        this.$router.push('/');
      },
    },
  };
</script>

<style scoped lang="scss">

  .has-shadow-custom {
    -webkit-box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
  }

  /*.navBarFixed {*/
  /*position:fixed !important; top: 0; left: 0; right: 0; z-index: 1;*/
  /*}*/
</style>
