<template>
  <section class="section">
    <h1 class="title hoverable-edit" v-if="!edit"
        :data-balloon="messageIfStringEmpty"
        data-balloon-pos="up" data-balloon-length="large"
        @click="edit = true">
      {{ (objectToEdit.Abbreviation ? `${objectToEdit.Abbreviation} - ` : '') + objectToEdit[keys.name] }}
    </h1>
    <div v-else class="field">
      <label class="label">{{ keys.nameToString }}</label>
      <input type="text" class="input" @keyup.enter="saveToAPIData()"
             @blur="saveToAPIData()" v-model="objectToEdit[keys.name]"
             :placeholder="keys.nameToString + ' du ' + objectToEditToString">
    </div>
    <div v-if="edit && keys.desc" class="field">
      <label class="label">{{ keys.descToString }}</label>
      <input type="text" v-if="edit" class="input" @keyup.enter="saveToAPIData()"
             @blur="saveToAPIData()" v-model="objectToEdit[keys.desc]"
             :placeholder="keys.descToString + ' du ' + objectToEditToString">
    </div>
    <div v-if="edit && keys.abbreviation" class="field">
      <label class="label">{{ keys.abbreviationToString }}</label>
      <input type="text" v-if="edit" class="input" @keyup.enter="saveToAPIData()"
             @blur="saveToAPIData()" v-model="objectToEdit[keys.abbreviation]"
             :placeholder="keys.abbreviationToString + ' du ' + objectToEditToString">
    </div>
    <div v-if="edit && keys.couleur" class="field">
      <label class="label">{{ keys.couleurToString }}</label>
      <div class="select">
        <select v-model="objectToEdit[keys.couleur]" id="listeCouleur">
          <option :selected="objectToEdit[keys.couleur] == couleur"
                  v-for="(couleur, index) in couleursChamp"
                  :class="couleur.name"
                  :value="couleur.name" :key="index">
            {{ couleur.name }}
          </option>
        </select>
      </div>
    </div>
  </section>
</template>

<script>
  import axios from 'axios';

  export default {
    props: {
      objectToEdit: Object,
      route: String,
      objectToEditToString: {
        type: String,
        required: true,
      },
      stringEmpty: {
        type: String,
        default: '',
      },
      propsKeys: {
        type: Object,
        default: {
          name: '',
          nameToString: '',
          desc: '',
          descToString: '',
        },
      },
    },
    data() {
      return {
        edit: false,
        keys: this.propsKeys,
        couleursChamp: [
          { name: 'rose', hex: '#f4b5b5' },
          { name: 'rouge', hex: '#e05757' },
          { name: 'orange', hex: '#e08b56' },
          { name: 'jaune', hex: '#e0cd56' },
          { name: 'vert', hex: '#bde056' },
          { name: 'vert2', hex: '#56e058' },
          { name: 'turquoise', hex: '#56e0ad' },
          { name: 'bleu', hex: '#94e0d8' },
          { name: 'bleu2', hex: '#779cd8' },
          { name: 'violet', hex: '#8877d8' },
          { name: 'rose2', hex: '#d877bf' },
          { name: 'beige', hex: '#fcf3d6' },
        ],
      };
    },
    methods: {
      saveToAPIData() {
        axios({
          method: 'PUT',
          url: `/api/${this.route}/${this.objectToEdit.Id}`,
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          data: this.objectToEdit,
        }).then(() => {
          this.edit = false;
          this.$parent.updateDBPopup('is-success', null);
          this.$emit('update-couleur-event', this.objectToEdit.Couleur);
        }).catch((error) => {
          this.$parent.updateDBPopup('is-danger', error.response.data.ModelState);
        });
      },
    },
    computed: {
      messageIfStringEmpty() {
        const s = this.objectToEdit[this.keys.desc];
        if (s) {
          return s;
        }
        if (this.stringEmpty) {
          return `La ${this.stringEmpty} de ce ${this.objectToEditToString} ` +
            'est vide pour l\'instant';
        }
        return false;
      },
    },
  };
</script>

<style>
  .hoverable-edit {
    border: 1px solid transparent;
    border-radius: 0.08em;
  }

  .hoverable-edit:hover {
    background-color: #C8EBFB;
  }
</style>
