<template>
  <div class="field has-text-centered">
      <div class="columns">
        <div class="column is-half">
          <h1 class="box title is-4 ">Compétences du champ sélectionné</h1>
          <!--<div class="dropper box" id="listeCompetence_Champs">-->
          <draggable  style="min-height: 44px" @end="deleteCompetenceChamp" :move="onMove" v-model="competenceChamps" class="dragArea in" :options="{ group:'comp', ghostClass: 'ghost', animation: 1}">
            <div v-for="element in competenceChamps" :key="element.Id" class="box is-marginless competenceBox"
                 :class="[element.Couleur, {obligatoire: element.Obligatoire}]">
              {{element.Code}} {{element.Enonce}}
            </div>
          </draggable>
          <!--</div>-->
        </div>
        <div class="column is-half">
          <h1 class="box title is-4 ">Compétences disponibles
            <button :data-balloon="textHoverCompetences" data-balloon-pos="left"
                    data-balloon-length="medium" id="infoBtn" class="is-pulled-right button is-small">
              <i class="fa fa-question" aria-hidden="true"></i>
            </button>
          </h1>
          <!--<div class="dropper box" id="listeCompetence">-->
            <draggable @end="postCompetenceChamp" :move="onMove" v-model="competences" class="dragArea out" :options="{ group:'comp', ghostClass: 'ghost', animation: 1}">
              <div v-for="element in competences" :key="element.Id"
                   :class="['competenceBox', 'box', 'is-marginless', {'obligatoire': element.Obligatoire}]">
                {{element.Code}} {{element.Enonce}}
              </div>
            </draggable>
          <!--</div>-->
        </div>
      </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import draggable from 'vuedraggable';

  export default {
    components: {
      draggable,
    },
    props: ['idChamp', 'propsUpdate'],
    data() {
      return {
        competences: [],
        competenceChamps: [],
        idchampsSelected: '',
        editable: true,
        delayedDragging: false,
        idPost: null,
        idDelete: null,
        textHoverCompetences: 'Glisses une compétence disponible vers la liste de compétence du champ sélectionné',
        color: '',
      };
    },
    created() {
      const id = this.idChamp;
      this.affDeuxListesCompetences(id);
    },
    methods: {
      clearDataFromLists() {
        this.competences = [];
        this.competenceChamps = [];
      },
      affDeuxListesCompetences(id) {
        axios.get(`/api/Competences/NotInChampCompetences/${id}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            if (response.data !== null) {
              for (let i = 0; i < response.data.length; i += 1) {
                this.competences.push(response.data[i]);
              }
            }
          });
        axios.get(`/api/CompetenceByIdChamps/${id}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            if (response.data !== null) {
              for (let i = 0; i < response.data.length; i += 1) {
                this.competenceChamps.push(response.data[i]);
              }
            }
          }).then(() => {
            this.color = this.competenceChamps[0].Couleur;
          });
      },
      postCompetenceChamp() {
        if (this.idPost !== null) {
          axios({
            method: 'PUT',
            url: `/api/AddOrRemoveCompetencesChamps/${this.idChamp}`,
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: {
              Id: this.idPost,
            },
          }).then(() => {
            this.idPost = null;
            // this.reloadListeColorWithoutParam();
            this.$parent.updateDBPopup('is-success', null);
          });
        }
      },
      deleteCompetenceChamp() {
        if (this.idDelete !== null) {
          axios({
            method: 'PUT',
            url: `/api/AddOrRemoveCompetencesChamps/${this.idChamp}`,
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: {
              Id: this.idDelete,
            },
          }).then(() => {
            this.idDelete = null;
            this.$parent.updateDBPopup('is-success', null);
          });
        }
      },
      onMove(evt) {
        let test;
        if (evt.relatedContext.list.indexOf(evt.draggedContext.element) === -1) {
          if (this.competenceChamps.indexOf(evt.draggedContext.element) === -1) {
            test = evt.draggedContext.element.Id;
            this.idPost = test;
          } else {
            this.idDelete = evt.draggedContext.element.Id;
          }
        } else {
          this.idPost = null;
          this.idDelete = null;
        }
      },
      reloadListeColor(color) {
        for (let i = 0; i < this.competenceChamps.length; i += 1) {
          this.competenceChamps[i].Couleur = color;
        }
        for (let i = 0; i < this.competenceChamps.length; i += 1) {
          this.competences[i].Couleur = color;
        }
      },
      reloadListeColorWithoutParam() {
        this.reloadListeColor(this.color);
      },
    },
    watch: {
      idChamp(val) {
        this.clearDataFromLists();
        this.affDeuxListesCompetences(val);
      },
      propsUpdate(val) {
        if (val) {
          this.color = val;
          this.reloadListeColorWithoutParam();
        }
      },
    },
  };
</script>

<style scoped lang="scss">

  .competenceBox {
    padding: 10px;
    border-radius: 0;
    width:100%;
  }

  .competenceBox:hover {
    cursor: pointer;
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
  }

</style>
