<template>
  <div id="app">
    <app-navbar></app-navbar>
    <section class="section container is-fluid">
      <router-view/>
    </section>
    <footer-app></footer-app>
  </div>
</template>

<script>
  import 'font-awesome/css/font-awesome.css';
  import './assets/balloon.css';
  import './assets/bulma.sass';
  import NavBar from './components/NavBar';
  import FooterApp from './components/static_rendering/FooterApp';

  export default {
    name: 'app',
    components: {
      'app-navbar': NavBar,
      FooterApp,
    },
  };
</script>

<style>
  a:not([disabled]) .fa-trash {
    color: rgba(188, 19, 24, .7)
  }

  .rose {
    background-color: #f4b5b5 !important;
  }

  .rouge {
    background-color: #e05757 !important;
  }

  .orange {
    background-color: #e08b56 !important;
  }

  .jaune {
    background-color: #e0cd56 !important;
  }

  .vert {
    background-color: #bde056 !important;
  }

  .vert2 {
    background-color: #56e058 !important;
  }

  .turquoise {
    background-color: #56e0ad !important;
  }

  .bleu {
    background-color: #94e0d8 !important;
  }

  .bleu2 {
    background-color: #779cd8 !important;
  }

  .violet {
    background-color: #8877d8 !important;
  }

  .rose2 {
    background-color: #d877bf !important;
  }

  .beige {
    background-color: #fcf3d6 !important;
  }

  /*.is-fluid {*/
  /*margin-top: 30px;*/
  /*}*/
  /* .container {
    background-image: url("img/image_bg_landing.jpg");
  } */

  /* Let's get this party started */
  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(245, 245, 245, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(245, 245, 245, 0.4);
  }

  body {
    color: #000;
  }

  .box {
    color: #000
  }

  .obligatoire {
    border-left: 3px rgb(88, 83, 83) solid;
  }

</style>
